body {
    width: 100%;
    height: 600px;
    font-size: 13px;
    line-height: 1.428571429;
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
}

.bd {
    width: 100%;
    height: 600px;
    font-size: 13px;
    line-height: 1.428571429;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: grey;
    }

textarea, input[type="text"], input[type="password"] {
    outline: none;
    border: none;
}

textarea, input[type="text"], input[type="password"] {
    outline: none;
    border: none;
}

textarea, input[type="text"], input[type="password"] {
    border-color: transparent !important;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 70%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

.focus-input100::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus {
    padding-left: 5px;
}

    .input100:focus + .focus-input100::after {
        top: -22px;
        font-size: 18px;
    }

    .input100:focus + .focus-input100::before {
        width: 100%;
    }

.has-val.input100 + .focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 5px;
}


@-webkit-keyframes example {
    0% {
        left: 0px;
        top: 10px;
    }

    100% {
        left: 1000px;
        top: 0px;
    }
}


@keyframes example {
    0% {
        left: 0px;
        top: 10px;
    }

    100% {
        left: 1000px;
        top: 0px;
    }
}

.scene {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    height: 800px;
}


    .scene > div.clouds {
        width: 101%;
        height: 405px;
        bottom: 90px;
        background: url(Images/bg-01.jpg);
        top: 8px;
        z-index: -1;
    }

    .scene > div {
        position: absolute;
        bottom: 0;
    }

.alert {
    margin-bottom: 20px;
    margin-top: 0;
    color: #fff;
    border-width: 0;
    border-left-width: 5px;
    padding: 10px;
    border-radius: 0;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*.clouds {
    width: 100%;
    height: 1000px;
    top: 20px;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 50s;
    -moz-animation-duration: 50s;
    -ms-animation-duration: 50s;
    -o-animation-duration: 50s;
    animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    -moz-animation-name: example;
    -ms-animation-name: example;
    -o-animation-name: example;
    animation-name: example;
    animation-iteration-count: infinite;
}*/
.loginform {
    /*width: 400px;*/

    background-color: transparent;
    padding: 35px;
    /*text-align:center;
    margin-left:36%;*/
}

.center {
    background-color: transparent;
    /*margin: auto;*/
    width: 50%;
    /*border: 3px solid green;*/
    padding: 35px;
}

.form-group {
    padding: 10px 5px !important;
    margin: 0px !important;
}

.col-md-12 {
    padding: 0px !important;
}

.signuparea {
    text-align: center;
}

.control-label {
    text-align: left !important;
}

.logo {
    width: 100%;
    margin-top: 10%;
    /*margin: 10px 0px 10px 120px;*/
}

.logo-img {
    width: 40%;
    margin-top: 10%;
}

.btn {
    padding: 5px 20px !important;
    width: 100%;
}

    .btn:hover {
    }

.modalpopuploader {
    position: fixed;
    z-index: 1999;
    height: 100%;
    width: 86%;
    top: 0;
    background-color: rgba(97, 81, 81, 0.75);
    filter: alpha(opacity=60);
    opacity: 1;
    -moz-opacity: 1;
    display: none;
}

.centerdiv {
    z-index: 1000;
    margin: 150px auto;
    padding: 10px;
    width: 130px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
    text-align: center;
}

.center img {
    height: 70px;
    width: 128px;
}

.loginordiv {
    position: relative;
    text-align: center;
    height: 20px;
}

.loginline {
    position: absolute;
    height: 1px;
    top: 10px;
    left: 40px;
    right: 40px;
    background-color: #ccc;
}

a:hover, a:focus {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}

.loginor {
    position: absolute;
    top: 0;
    -lh-property: 0;
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 20px;
    background-color: #fff;
    color: #999;
    margin: 0 auto;
    text-align: center;
}
/*textarea, input[type="text"], input[type="password"],*/
input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    -webkit-border-radius: 0 !important;
    -webkit-background-clip: padding-box !important;
    -moz-border-radius: 0 !important;
    -moz-background-clip: padding !important;
    border-radius: 3px !important;
    background-clip: padding-box !important;
    color: #858585;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    font-family: inherit;
    -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out;
    -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out;
    -o-transition: box-shadow .45s, border-color .45s ease-in-out;
    transition: box-shadow .45s, border-color .45s ease-in-out;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.greencolor {
    color: #8cc474 !important;
}
/*@media(max-width:480px){
    body {
      background-color:#ccc !important;
      background-size:inherit;
      background-repeat:no-repeat;
      height:100%;
    overflow:auto;
}*/

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .loginform {
        /*width:100%;*/
        margin-top: 20px;
        /*margin-left: 0px !important;*/
        /*border: 1px solid #ccc;*/
        /*background-color: #fff ;*/

        padding: 5px;
    }

    .control-label {
        text-align: left !important;
    }

    .logo {
        width: 30%;
        margin: 10px 0px 10px 0px;
        text-align: center;
    }

    .logo-img {
        width: 50% !important;
    }

    .btn {
        padding: 10px 50px !important;
        border: 1px solid black !important;
        background-color: #dadada !important;
        width: 100%;
    }

        .btn:hover {
            background-color: #b0d087 !important;
        }

    .modalpopuploader {
        position: fixed;
        z-index: 1999;
        height: 100%;
        width: 90%;
        top: 0;
        background-color: rgba(222, 212, 212, 0.75);
        filter: alpha(opacity=60);
        opacity: 1;
        -moz-opacity: 1;
        display: none;
    }

    .centerdiv {
        z-index: 1000;
        margin: 100px auto;
        padding: 10px;
        width: 220px;
        background-color: #ffffff08;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
        text-align: center;
    }

    .center img {
        height: 50px;
        width: 128px;
    }
}
